<p>pipes works!</p>
<h1>Pipes</h1>
<hr>

<h2>{{name}}</h2>
<h2>{{name | lowercase}}</h2>
<h2>{{name | uppercase}}</h2>
<hr>

<h2>{{messag}}</h2>
<h2>{{messag | titlecase}}</h2>
<h2>{{messag | slice:3}}</h2>
<h2>{{messag | slice:3:5}}</h2>
<hr>

<h2>{{person}}</h2>
<h2>{{person | json}}</h2>
<hr>

<h2>{{12.3456789}}</h2>
<h2>{{12.3456789 | number :'10.2-5'}}</h2>
<h2>{{12.3456789 | number :'5.10'}}</h2>
<h2>{{12.3456789 | number :'3.4-5'}}</h2>
<h2>{{12.3456789 | number :'2.1-2'}}</h2>
<h2>{{12.3456789 | number :'10.1-2'}}</h2>
<hr>

<h2>{{0.25  | percent}}</h2>
<h2>{{0.25 | currency}}</h2>
<h2>{{0.25 | currency : 'EUR': 'code'}}</h2>
<hr>

<h2>{{dates}}</h2>
<h2>{{dates | date: 'short'}}</h2>
<h2>{{dates | date: 'shortDate'}}</h2>
<h2>{{dates | date: 'mediumDate'}}</h2>
<h2>{{dates | date: 'longDate'}}</h2>
<hr>

<h2>{{dates | date: 'shortTime'}}</h2>
<h2>{{dates | date: 'mediumTime'}}</h2>
<h2>{{dates | date: 'longTime'}}</h2>