

<div class="card">
    <div id="parallelogram7"></div>
   <div class = "blok">
         <div id="parallelogram"></div>
         <div id="parallelogram1"></div>
         <div id="parallelogram2"><p>NO. 0001</p></div>
        
        </div>

        <div id="parallelogram3"><p>Date</p></div>
        <div id="parallelogram4"></div>
        <div id="parallelogram5"></div>
        <div id="parallelogram6"></div>
        <div id="parallelogram8">Sing</div>
        <div id="parallelogram9"> Memo</div>
<div class ="zzz">
    
</div>
<div class ="zzz1">
    
</div>
  
<h2>{{name | uppercase}}</h2>
<h1>{{nameBank | uppercase}}</h1>
<p> {{jane | uppercase}} /// Apple lane 2. Boston, Ma 11223</p>
<h5 >{{pay | uppercase}}<br>{{order | uppercase}}</h5>
<hr/>

<hr id ="dolar"> <p id ="textDolar">dollars</p> 
<!-- <h2>{{ 0 | currency}}</h2> -->
</div>
