.zzz{
    background-color: rgb(211, 206, 206);
    width: 150px;
    height: 350px;
    position: absolute;
    top: 38px;
    left: -17.6%;
    
}
.zzz1{
    background-color: rgb(211, 206, 206);
    width: 150px;
    height: 350px;
    position: absolute;
    top: 168px;
    left: 100%;
    
}
.card{
    width: 850px;
    height: 350px;
    position: absolute;
    top: 168px;
    left: 26%;
    background-color: white;
}

.card h2 {
    color: rgb(77, 76, 76);
    position: absolute;
    top: 8px;
    left: 23%;
}
.card h1 {
    color: rgb(77, 76, 76);
    position: absolute;
    top:48px;
    left: 22%;
    
}
#textDolar{
    position: absolute;
    top:160px;
    left: 49%;
    width: 410px;

}
.card h5 {
    color: rgb(77, 76, 76);
    position: absolute;
    top:119px;
    left: 8%;
   
}


    

.card hr{
    position: absolute;
    top:159px;
    left: 18%;
    width: 410px;

}
#dolar{
    position: absolute;
    top:182px;
    left: 8%;
    width: 410px;

}
 .card p{
     padding-left: 95px;
     position: absolute;
    top:98px;
    left: 0%;
 }
 
 #parallelogram7 {
    width: 140px;
    height: 280px;
    position: absolute;
    top: 11%;
    left: -7%;
    background:#e0c239;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(-13deg);
}

#parallelogram {
    float: left;
    margin-left: 60px;
    width: 90px;
    height: 100px;
    background:rgb(77, 76, 76);
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(-13deg);
}
#parallelogram1 {
    margin-left: 15px;
    margin-top: 30px;
   float: left;
    width: 20px;
    height: 70px;
    background:#e0c239;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(-13deg);
}
#parallelogram2 {
  
    margin-right: 25px;
   float: right;
    width: 170px;
    height: 90px;
    
 
    border: 2px solid rgb(77, 76, 76);
    border-top: 2px solid white;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(-13deg);
}
#parallelogram3 {
    width: 170px;
    height: 57px;
    border-top: 2px solid rgb(77, 76, 76);
    position: relative;
    top: 111px;
    left: 74.5%;
    background:#e0c239;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(-13deg);
}
#parallelogram4 {
    width: 170px;
    height: 95px;
    position: relative;
    top: 138px;
    left: 72%;
    background:#e0c239;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(-13deg);
}
#parallelogram5 {
    width: 18px;
    height: 54px;
    position: relative;
    top: 110px;
    left: 92%;
    background:rgb(77, 76, 76);
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(-13deg);
}
#parallelogram6 {
    width: 50px;
    height: 91px;
    position: absolute;
    top: 260px;
    left: 95.3%;
    background:rgb(77, 76, 76);
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(-13deg);
}
#parallelogram8 {
    width: 170px;
    height: 60px;
    position: relative;
    top: 84px;
    left: 69.9%;
    border-top:1px solid rgb(77, 76, 76);
   
    background:#e0c239;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(-13deg);
}
#parallelogram9 {
    width: 450px;
    height: 130px;
    position: absolute;
    top: 63%;
    left: 12.9%;
    border:1px solid rgb(77, 76, 76);
    border-bottom: none;
   
    
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(-13deg);
}
#parallelogram3 p {
    position: relative;
    top: -95px;
    left: -25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#parallelogram2 p {
    position: relative;
    top: 45px;
    left: -35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
